body {
    background-color: black !important;
  }
  
.ProfileScreen
{
    background-color: #fff; 
    position: relative;
    margin-top: 35px;
   height: 100%;
   color:#fff;
}

.ProfileScreen__body > h1
{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.ProfileScreen__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
    padding-top: 8%;
    max-width: 800px;
    position: fixed;
}

.ProfileScreen__info
{
    display: flex;  /*This basically bought the content of the info in row*/

}

.ProfileScreen__info > img
{
    height: 100px;
}


.ProfileScreen__details
{
    color:#fff;
    margin-left: 25px;
    flex: 1;
    width: 100%;
}

.ProfileScreen__details > h2
{
    background-color: grey;
    padding: 10px 20px;
    font-size: 15px;
    padding-left: 20px;
    
}

.ProfileScreen__plans
{
    margin-top:20px;
}

.ProfileScreen__plans >h3
{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}
 

.ProfileScreen__signOut
{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    background-color: #e50914;
    color: #fff;
    border:none;
    border-radius: 0.25rem;
    cursor: pointer;
    max-width: 600px;
}

.Subscription__Netflix
{
    position: relative;
    margin-top:20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*So, basically what justify-content space between did was that it aligned the plan siscription to 
    extremely left and subscribe button to extremely right*/
}

.Basic__Netflix
{
    margin-top: 7px;
    margin-right: 8px;
}

.para1
{
    margin-top: 7px;
    margin-right: 8px;
}

.Button__Netflix
{
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-right: 8px;
}