.SignUpScreen
{
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 0 30px;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

.SignUpScreen > form
{
    display: grid;
    flex-direction: column;
}

.SignUpScreen > form >input
{
    color: #fff;
    margin-top:20px;
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: transparent;
    border: 2px solid white;
    max-width:600px ;
    border-radius: 0.25rem;
}

.SignUpScreen > form >button
{
    padding: 16px 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    border:none;
    border-radius: 0.25rem;
    cursor: pointer;
    max-width: 600px;
}
